*{
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 180px;
    position: relative;
    overflow: hidden;
}

/* type1的样式 */
.wrapper1 div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper1 div img{
    display: block;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transform: translate(var(--Xoffset),var(--Yoffset));
    /* filter: blur(var(--blur)); */
}


/* type2的样式 */
.left, .middle, .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--opac);
}

.wrapper2 div img {
    position: absolute;
    display: block;
    width: 130%;
    height: 100%;
    object-fit: cover;
    transform: translateX(var(--offset));
}