*{
    margin: 0;
    padding: 0;
}

.Banner {
    height: 180px;
    position: relative;
    overflow: hidden;
}

.left, .middle, .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--opac);
}

.Banner div img {
    position: absolute;
    display: block;
    width: 130%;
    height: 100%;
    object-fit: cover;
    transform: translateX(var(--offset));
}
